.primary_nav_wrap
{
    /* margin-top:15px; */
    width: 100%;
    /*font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    text-align: center;
}

.primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    width: 100%;
    hight:1px;
    margin:0;
    padding:0;
    background:white;
    /*background:#f3f3f3; */
}

